template(name="csvUpload")
  .panel.panel-default
    .panel-heading
      h3.panel-title CSV file upload
    .panel-body
      .csv-error #{csvError}
      if importReports.count
        b File: &nbsp;
        tt #{csvFileName}
        | &nbsp;
        b Id: &nbsp;
        tt #{csvFileId}
      +afQuickField name='csvFile' id='csvFile'

      if importReports.count
        +reactiveTable collection=importReports fields=importFields

        if unmatchedHeadersString
          h4 Unused fields in your data
          tt #{unmatchedHeadersString}
