template(name="csvUpload")
  section.rm-pad.csvUpload
    .container
      h3 CSV file upload
      .csv-error #{csvError}
      if importReports.count
        b File: &nbsp;
        tt #{csvFileName}
      .row
        .col-md-4
          +afQuickField name='csvFile' id='csvFile'

  if importReports.count
    section.rm-pad-top.import-table
      .container
        +reactiveTable collection=importReports fields=importFields

        if unmatchedHeadersString
          h4 Unused fields in your data
          tt #{unmatchedHeadersString}
