template(name="filterControls")
  +autoForm(
    collection=filterCollection
    doc=filter
    type="update"
    id="filter-panel"
    template="filter"
  )
    +afQuickFields(
      id-prefix=idPrefix
      template="filter"
    )
    .form-group
      .row.filter
        .col-sm-11
          button.btn.btn-primary.btn-block(type="submit") Filter
        .col-sm-1.reset-wrap
          a.reset(type="reset")
            span.glyphicon.glyphicon-remove-circle

template(name="afArrayField_filter")
  .filter-wrap
    sdfasdf {{afFieldLabelText name=this.atts.name}}
    if afFieldIsInvalid name=this.atts.name
      .autoform-array-field-error
        {{{afFieldMessage name=this.atts.name}}}
    ul.list-unstyled
      +afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
        li.autoform-array-item
          +afQuickField name=this.name label=false
          if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount
            a(type="button" class="autoform-remove-item") 
              span.glyphicon.glyphicon-remove-circle
    if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount
      div(style="margin-top: 20px;")
        button(type="button" class="autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}") Add

