template(name="filterControls")
  +autoForm(
    collection=filterCollection
    doc=filter
    type="update"
    id="filter-panel"
    template="plain"
  )
    +afQuickFields(
      id-prefix=idPrefix
      template="bootstrap3"
    )
    .form-group
      .row.filter
        .col-sm-11
          button.btn.btn-primary.btn-block(type="submit") Filter
        .col-sm-1.reset-wrap
          a.reset(type="reset")
            span.glyphicon.glyphicon-remove-circle
