template(name="filterControls")
  +autoForm(
    collection=filterCollection
    doc=filter
    type="update"
    id="filter-panel"
    template="bootstrap3"
  )
    +afQuickFields(
      id-prefix=idPrefix
      template="bootstrap3"
    )
    .form-group
      button.btn.btn-primary.btn-block.filter(type="submit") Filter
      a.reset(type="reset")
        span.glyphicon.glyphicon-remove-circle
