template(name="importForm")

  +autoForm collection="collections.Studies" type="insert" id="importForm"
    form.import-form
      section
        .container
          h3 CSV file upload
          if importReports.count
            b File: &nbsp;
            tt #{csvFileName}
            | &nbsp;
            b Id: &nbsp;
            tt #{csvFileId}
          +afQuickField name='csvFile' id='csvFile'

          if importReports.count
            +reactiveTable collection=importReports fields=importFields

            if unmatchedHeadersString
              h4 Unused fields in your data
              tt #{unmatchedHeadersString}

      .container
        h2 Please fill out any of the following fields that apply to all reports in this study.  

      section.rm-pad-top
        .container
          .row
            .col-sm-3.space-btm
              h3 Contact person info
              +afQuickField name='contact.name'
              +afQuickField name='contact.email' placeholder='name@domain.com'
              +afQuickField name='contact.phone' minor='(Must include the country code)'
        
            .col-sm-8.col-sm-offset-1
              h3 Reporting institution, diagnostic lab or government agency info
                +tooltip name='contact.institutionAddress'              
              .row
                .col-sm-6
                  +afQuickField name="contact.institutionAddress.name"
              .row
                .col-sm-6
                  +afQuickField name="contact.institutionAddress.street"
                .col-sm-6
                  +afQuickField name="contact.institutionAddress.street2"
              .row
                .col-sm-4
                  +afQuickField name="contact.institutionAddress.city"
                .col-sm-4
                  +afQuickField name="contact.institutionAddress.stateOrProvince"
                .col-sm-2
                  +afQuickField name="contact.institutionAddress.postalCode"
              .row
                .col-sm-4
                  +afQuickField name="contact.institutionAddress.country"

      section.odd
        .container
          .row.form-input-block
            .col-sm-4.col-xs-6.input-block
                +afQuickField name="populationType"
            .col-sm-4.col-xs-6.input-block
                +afQuickField name="screeningReason"
            .clearfix.visible-xs-block
            .col-sm-4.col-xs-6.input-block
                +afQuickField name="vertebrateClasses"

      section
        .container
          h3 Species info
          .row.form-input-block
            .col-sm-5
              +afQuickField name="speciesGenus"
              +afQuickField name="speciesName"
              +afQuickField name="numInvolved"
            .col-sm-7
              +afQuickField name="speciesNotes"

      section.odd
        .container
          .row.form-input-block
            .col-sm-12.input-block
              .row
                .col-sm-4.input-block
                    +afQuickField name='ageClasses'
                .col-sm-4.input-block
                    +afQuickField name='ranavirusConfirmMethods'
                    if afFieldValueContains name='ranavirusConfirmMethods' value='other'
                      +afQuickField name='specifyOtherRanavirusConfirmationMethods'
                .col-sm-4.input-block
                    +afQuickField name='sampleType'
                    if afFieldValueContains name='sampleType' value='other'
                      +afQuickField name='specifyOtherRanavirusSampleTypes'
      section
        .container
          h3 Permissions and Consent
          .row.form-input-block
            .col-sm-6.input-block
              +afQuickField name='dataUsePermissions' id='dataUsePermissions'
            .col-sm-6.input-block
              +afQuickField name='consent' id='consent'
      section.rm-pad-top
        .container
          .row
            .col-sm-9
              +afQuickField name='additionalNotes' id='additionalNotes'

      section.rm-pad-top.form-grp-container.publication
        .container
          +afQuickField name='publicationInfo' id='publicationInfo'

      .container
        .row
          .col-sm-4
            .form-group
              button.btn-lg.btn.btn-success.btn-block(type='submit') Submit
