template(name="map")
  .vis-map-container
    +quickForm(
      collection=mapQueries
      doc=mapQuery
      type="update"
      id="map-sidebar"
      buttonContent="Set"
      template="bootstrap3"
    )
    .vis-map