// Derived from the original html version here.
// https://github.com/aldeed/meteor-autoform/blob/dc10a1366a69bf734eab736dd9748f8007ded7db/templates/bootstrap3/bootstrap3.html
// We took the relevant templates from the bootstrap3 package, converted them to
// Jade and customized them for the custom rana AutoForm theme.
// If you need to implement a template for a new input type, check that .html
// file first to see if has already been done in the bootstrap3 template.
//
// In the future we may want to use extension lib this:
// https://github.com/aldeed/meteor-template-extension

template(name="afFormGroup_rana")
  .form-group(class="form-group{{#if afFieldIsInvalid name=this.atts.name}} has-error{{/if}}")
    unless skipLabel
      label($dyn=tooltipAtts)
        if this.label
          | this.label
        else
          | {{afFieldLabelText name=this.atts.name}}
      if minorLabelBlockText this.atts.name
        span.minor-label.block {{minorLabelBlockText this.atts.name}}
    +afFieldInput this.afFieldInputAtts
    span.help-block {{afFieldMessage name=this.atts.name}}

template(name="afObjectField_rana")
  h3 {{afFieldLabelText name=this.atts.name}}
  if afFieldIsInvalid name=this.atts.name
    .help-block {{afFieldMessage name=this.atts.name}}
  +afQuickFields name=this.atts.name

template(name="afArrayField_rana")
  .panel.panel-default.content-panel
    .panel-heading
      label($dyn=tooltipAtts) {{afFieldLabelText name=this.atts.name}}
    if afFieldIsInvalid name=this.atts.name
     .panel-body.has-error
        .help-block {{afFieldMessage name=this.atts.name}}
    ul.list-group
      +afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount
        li.list-group-item.autoform-array-item
          .content-block
            if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount
              button.btn.btn-primary.autoform-remove-item.pull-left(type="button")
                span.glyphicon.glyphicon-minus
            +afQuickField name=this.name label=false options="auto" template="plain"
    if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount
      button.add-content.autoform-add-item(type="button", data-autoform-field="{{this.atts.name}}", data-autoform-minCount="{{this.atts.minCount}}", data-autoform-maxCount="{{this.atts.maxCount}}" title="Add another")
        span.glyphicon.glyphicon-plus

template(name="afCheckboxGroup_rana")
  .af-checkbox-group($dyn=dsk)
    each this.items
      .checkbox
        label
          input(type="checkbox", value="{{this.value}}", $dyn=atts)
          span($dyn=tooltipAtts) #{this.label}

template(name="afRadioGroup_rana")
  .af-radio-group($dyn=dsk)
    each this.items
      .radio
        label
          input(type="radio", value="{{this.value}}", $dyn=atts)
          span($dyn=tooltipAtts) #{this.label}

template(name="afBooleanRadioGroup_rana")
  div($dyn=dsk)
    .radio
      label
        input(type="radio", value="false", name="{{this.name}}", $dyn=falseAtts)
        with this.atts.falseLabel
          | #{this}
        else
          | False
    .radio
      label
        input(type="radio", value="true", name="{{this.name}}", $dyn=trueAtts)
        with this.atts.trueLabel
          | #{this}
        else
          | True

template(name="afSelect_rana")
  select($dyn=atts)
    each this.items
      if this.optgroup
        optgroup(label="{{this.optgroup}}")
        each this.items
          option($dyn=optionAtts) #{this.label}
      else
        option($dyn=optionAtts) #{this.label}

template(name="quickform_custom")
  p test

template(name='afInputText_rana')
  input.form-control(type='text', value='#{this.value}', $dyn=atts)

template(name='afInputDate_rana')
  input.form-control(type='date', value='#{this.value}', $dyn=atts)

template(name='afInputNumber_rana')
  input.form-control(type='number' value='#{this.value}', $dyn=atts)

template(name='afInputEmail_rana')
  input.form-control(type='email' value='#{this.value}', $dyn=atts)

template(name='afTextarea_rana')
  textarea.form-control($dyn=atts) #{this.value}

template(name='afInputTel_rana')
  input.form-control(type='tel', value='#{this.value}', $dyn=atts)

template(name='genusAutocomplete_rana')
  input.form-control(type='text', value='#{this.value}', $dyn=atts)
