template(name="reportForm")

  if type

    section.rm-pad-btm
      .container
        h2
          a(href='/study/#{study._id}') #{study.name}
          if isInsert
            span - New Report
          else if isUpdate
            span - Update Report

    +autoForm(
      id="ranavirus-report"
      collection="collections.Reports"
      type=type
      doc=reportDoc
    )

      +afQuickField name='studyId'

      section.rm-pad-top
        +contactInfo


      section.date-location.rm-pad-top
        .container
          h3 Date and Location
          .row.form-input-block
            .col-sm-12
              .row
                .col-sm-4
                  +afQuickField name="eventDate"
              .row
                .col-sm-12
                  +afQuickField name="eventLocation"

      +populationInfo

      +species numInvolved=true

      +classesMethods report=true

      section
        .container
          .row.form-input-block
            .col-md-4.col-sm-6.input-block
              +afQuickField name='pathologyReports' id='pathologyReports'
            .col-md-4.col-sm-6.input-block
              +afQuickField name='images' id='images'
            .col-md-4.col-sm-6.input-block
              +afQuickField name='genBankAccessionNumbers' id='genBankAccessionNumbers'

      +notes

      +permissions

      +submit

  else
    h3 Invalid form id

  unless isInsert
    .review-panel
      .review-panel-header Reviews
      .review-content
        +reviews reportId=report._id
