template(name="reportForm")

  if type
    +autoForm(
      id="ranavirus-report"
      collection="collections.Reports"
      type=type
      doc=reportDoc
    )
      form.report-form

        section.yellow
          .container
            .row.form-input-block
              .col-lg-5
                +afQuickField name='studyId' options=studyOptions

        section
          .container
            h3 Contact person info
            .row
              .col-lg-4
                +afQuickField name='contact.name'
              .col-lg-4
                +afQuickField name='contact.email' placeholder='name@domain.com'
              .col-lg-4
                +afQuickField name='contact.phone' minor='(Must include the country code)'

        section.odd
          .container
            +address

        section.date-location
          .container
            h3 Date and Location
            .row.form-input-block
              .col-sm-12
                .row
                  .col-sm-4
                    +afQuickField name="eventDate"
                .row
                  .col-sm-12
                    +afQuickField name="eventLocation"

        +populationInfo

        +species

        section.odd
          .container
            .row.form-input-block
              .col-sm-8.input-block
                .row
                  .col-sm-3.input-block
                      +afQuickField name='ageClasses'
                  .col-sm-5.input-block
                      +afQuickField name='ranavirusConfirmMethods'
                      if afFieldValueContains name='ranavirusConfirmMethods' value='other'
                        +afQuickField name='specifyOtherRanavirusConfirmationMethods'
                  .col-sm-4.input-block
                      +afQuickField name='sampleType'
                      if afFieldValueContains name='sampleType' value='other'
                        +afQuickField name='specifyOtherRanavirusSampleTypes'
              .col-sm-4
                  +afQuickField name='totalAnimalsTested'
                  +afQuickField name='totalAnimalsConfirmedInfected'
                  +afQuickField name='totalAnimalsConfirmedDiseased'

        section
          .container
            .row.form-input-block
              .col-md-4.col-sm-6.input-block
                +afQuickField name='pathologyReports' id='pathologyReports'
              .col-md-4.col-sm-6.input-block
                +afQuickField name='images' id='images'
              .col-md-4.col-sm-6.input-block
                +afQuickField name='genBankAccessionNumbers' id='genBankAccessionNumbers'

        +notes

        +permissions

        +submit
        
  else
    h3 Invalid form id
