template(name="reportFormObfuscated")

  if type
    .report-form.space-btm-3
      section.title.rm-pad-btm.odd
        .container.name-action
          if study.name
            h1
              span.name #{study.name}
              a.btn.btn-primary.btn-inline.study-link(href="{{pathFor route='editStudy' data=studyId}}") View Study
      if showApproval
        +approvalBar
        section.approval.rm-pad.space-btm-3.gray
          .container
            +approvalButtons
      else
        .space-btm-3

    +autoForm(
      id="ranavirus-report"
      class="obfuscated"
      collection="collections.Reports"
      type="readonly"
      doc=reportDoc
    )

      section.space-top-3
        .container
          +contactInfo

      section.date-location.rm-pad-top
        .container
          h3 Location
          .row.form-input-block
            .col-sm-4
              +afQuickField name="eventLocation.country"

  else
    h3 Invalid form id
