template(name="studyForm")

  +autoForm(
    collection="collections.Studies"
    type="insert"
    id="ranavirus-import"
    doc=importDoc
  )
    .report-form.study
      section.rm-pad-btm
        .container
          .row
            .col-sm-4
              +afQuickField name='name'

      +csvUpload

      section.instructions
        .container
          h2 Set default values for the reports in this study.
          p <span>*</span> Indicates required field

      section.rm-pad-top
        +contactInfo

      +populationInfo

      +species numInvolved=true

      +classesMethods study=true

      +notes

      +permissions

      section.rm-pad-top.form-grp-container.publication
        .container
          +afQuickField name='publicationInfo' id='publicationInfo'

      +submit
