template(name="studyFormObfuscated")

  if type
    +autoForm(
      id="ranavirus-study"
      collection="collections.Studies"
      type=type
      doc=studyDoc
      redirectOnSubmit=urlQuery.redirectOnSubmit
    )

      .report-form.study
        section.rm-pad-btm
          .container
            .row
              .col-sm-4
                +afQuickField name='name'
            .row
              p This study has been shared in obfuscated form, so no further details are available.
  else
    h3 Invalid study id
