template(name="table")
  section
    .container.reports-table
      button.toggle-filter.btn.btn-primary(href="#") Filter Tables
      button.export.btn.btn-primary(href="#") Export
      .filter-controls.table-filters.hidden
        +filterControls query=query

  section
    .container.reports-table
      h2 Full Reports
      +reactiveTable collection="reports" settings=settings filters=filters
  section
    .container.reports-table
      h2 Obfuscated Reports
      +reactiveTable collection="obfuscatedReports" settings=obfuscatedSettings filters=filters

template(name="noReports")
  h3 No Reports Found
